<h1>New client form</h1>
<form name="new_client", action="gen_knife", method="post">
  Full Name: <input type="text" name="name" /> e.g. Robert Terwilliger <br />
  Email Address: <input type="text" name="email" /> e.g. robert.terwilliger@springfield.com <br />
  Admin: <input type="checkbox" name="admin" checked /> <br />
<input type="submit" value="create" />
</form>
